<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash Board</title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/shortUrl.css">
</head>

<body>
    <nav>
        <ul>
            <a href="/">Short Url</a>
            <button class="asdasd">Logout</button>
        </ul>
    </nav>

    <section class="banner">
        <div class="dashboardRow">
            <div class="profileInfo">
                <h2 style="text-align: center; margin-bottom: 20px;">User</h2>
                <table>
                    <tr>
                        <td>Name: </td>
                        <td><%= locals.loggedUserInfo.userName %></td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td><%= locals.loggedUserInfo.email %></td>
                    </tr>
                </table>
            </div>
            <div class="historyInfo">

            </div>
        </div>
    </section>
</body>

</html>