<%- include('./particals/header.ejs') %>

            <form class="form" method="post" action="<%= process.env.BASE_URL_API%>/auth/login">
                <h1>Login</h1>
                <input type="email" class="input" placeholder="Your Login Email">
                <input type="password" class="input" placeholder="•••••••••" >
                <button type="submit" class="generateButton">Login</button>
            </form>
            <div class="goBackHome" onclick="goBackHomeButton()">Go Back To Generate Page</div>
        </div>
    </section>
</body>

<script src="/js/script.js"></script>

</html>