<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Page</title>
    <link rel="stylesheet" href="/css/shortUrl.css">
</head>

<body>
    <section class="banner">
        <h1 style="text-align: center; font-size: 100px; margin-top: 120px;">
            <% if (locals.servErrMsg) { %>
                <%= locals.servErrMsg %>
                    <% }else{ %>
                        No Page Found
                        <% } %>
        </h1>
    </section>
</body>

</html>