<%- include('./particals/header.ejs') %>

            <form class="form" method="post">
                <h1>Register</h1>
                <input type="text" class="input" placeholder="Your Name">
                <input type="email" class="input" placeholder="Your Email">
                <input type="password" class="input" placeholder="•••••••••">
                <button type="submit" class="generateButton">Register</button>
            </form>
            <div class="goBackHome" onclick="goBackHomeButton()">Go Back To Generate Page</div>
        </div>
    </section>
</body>

<script src="/js/script.js"></script>

</html>