<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short Url Generate</title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/shortUrl.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>

    <nav>
        <ul>
            <% if (locals.loggedUser) { %>
                <button class="asdasd">Logout</button>
                <a href="/dashboard">Dashboard</a>
                <% }else{ %>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                    <% } %>
        </ul>
    </nav>

    <script>
        const btn = document.querySelector(".asdasd")
        btn.addEventListener("click", () => {
            fetch('http://localhost:8000/logout', { method: "POST" })
                .then(response => {

                    if (response.redirected) {
                        window.location.href = response.url;
                        return;
                    }
                })
        })
    </script>

    <section class="banner">

        <div class="card">