<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short Url Generate</title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/shortUrl.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>

    <!-- =================== Nav Bar =================== -->
    <nav>
        <ul>
            <% if (locals.loggedUser) { %>
                <a href="/dashboard">Dashboard</a>
                <button onclick="logoutBtn()">Logout</button>
                <% }else{ %>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                    <% } %>
        </ul>
    </nav>

    <script>
        function logoutBtn(){
            fetch("<%= process.env.BASE_URL %>/logout", { method: "POST" })
                .then(response => {

                    if (response.redirected) {
                        window.location.href = response.url;
                        return;
                    }
                })
        }
    </script>

    <section class="banner">

        <div class="card">